section.uploadArtSection {
    padding: 200px 0 150px 0;
    background: rgb(11, 9, 28);
    margin: auto;
    text-align: center;
    h2 {
        text-align: center;
    }
    .imagePreview {
        margin: auto;
        padding: 10px;
        border: 1px solid #eee;
        width: fit-content;
        border-radius: 10px;
        img {
            border-radius: 10px;
        }
    }
    span.btnWrap {
        width: 200px;
        display: inline-block;
        overflow: hidden;
        border: 1.3px solid rgb(0, 0, 255);
        background: rgb(0, 0, 255);
        color: #fff;
        cursor: pointer;
        position: relative;
        border-radius: 100px;
        padding: 10px;
        margin-top: 15px;
        input[type=file] {
            cursor: pointer;
            opacity: 0;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
    }
    
    
}
