::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000!important;
    opacity: 1 !important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #000!important;
    opacity: 1 !important;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #000!important;
    opacity: 1 !important;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #000!important;
    opacity: 1 !important;
  }
.resgistrationPage {
    padding: 200px 0 150px 0;
    // background: rgb(11, 9, 28);
    // background: url('../../../public/images/bgImg.jpg'),rgb(11, 9, 28);
    background: url('../../../public/images/bgImg.jpg') no-repeat center center / cover, #000;
    position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.6);
        }
        h1.text-center {
            position: relative;
            z-index: 2;
        }
        .formWrapper {
            background: rgba(128, 128, 128, 0.2);
            padding: 50px 40px;
            border-radius: 20px;
            max-width: 850px;
            margin: 20px auto;
            position: relative;
            z-index: 11;
            // form {
                label.form-label, label.form-check-label {
                    color: #fff;
                }
                .form-check-input[type=checkbox] {
                    width: 20px;
                    height: 20px;
                    &:checked {
                        background-color: rgb(0, 0, 255);
                        border: 1px solid rgba(0, 0, 255, 1);
                    }
                }
                .form-control, input[type="checkbox"] {
                    &:focus {
                        box-shadow: none;
                        border: 1px solid rgba(0, 0, 255, 1);
                    }
                }
                .form-control, .form-select, input[type="date"] {
                    border: 1px solid rgba(255,255,255,0.5);
                    background-color: rgba(255, 255, 255, 0.5);
                    font-family: "Urbanist-Regular";
                    color: #000;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21.6px;
                    text-align: left;
                    height: 50px;
                    border-radius: 4px;
                    &:focus {
                        box-shadow: none;
                    }
                }
                textarea.form-control {
                    min-height: 120px;
                    resize: inherit;
                    border: 1px solid rgb(233, 238, 243);
                    font-family: "Urbanist-Light";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 21.6px;
                    text-align: left;
                    border-radius: 6px;
                }
                button.secondaryBtn.btn.btn-primary {
                    min-width: 200px;
                }
            // }
        }
        .loaderWrapper {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0,0,0,0.5);
            width: 100%;
            height: 100%;
            z-index: 9;
            .spinner-border {
                position: absolute;
                left: 50%;
                top: 50%;
                z-index: 999;
                border-width: 8px;
                width: 90px;
                height: 90px;
            }
        }
}
.loaderWrapper {
    background: rgba(5, 14, 31,0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    .loaderOuterWrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .loaderInnerWrapper {
            position: relative;
            width: fit-content;
        
            .spinner-border {
                background-image: url('../../../public/images/loaderImage.png');
                background-size: 200px 200px;
                height: 200px;
                width: 200px;
                border: none;
            }
            img.loaderInner {
                position: absolute;
                left: 35%;
                top: 26%;
                transform: translate(-50%, -50%);
                width: 70px;
                height: auto;
            }
        }
    }
}
.zoom-in-zoom-out {
    animation: zoom-in-zoom-out 2s ease-out infinite;
  }
@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.3, 1.3);
    }
    100% {
      transform: scale(1, 1);
    }
  }

@media only screen and (max-width: 991px) {
    .resgistrationPage {
        .formWrapper {
            // form {
                .form-control,.form-select, input[type=date] {
                    border: 1px solid rgb(233, 238, 243);
                    font-family: "Urbanist-Light";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21.6px;
                    text-align: left;
                    height: 45px;
                    border-radius: 6px;
                }
            // }
        }
    }
}


@media only screen and (max-width: 768px) {
    .resgistrationPage {
        padding: 150px 0 30px 0;
        .formWrapper {
            width: 90%;
            // form {
                .form-control,.form-select, input[type=date] {
                    border: 1px solid rgb(233, 238, 243);
                    font-family: "Urbanist-Light";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21.6px;
                    text-align: left;
                    height: 45px;
                    border-radius: 6px;
                }
            // }
        }
    }
}
@media only screen and (max-width: 767px) {
    .resgistrationPage {
        padding: 120px 0 30px 0;
        .formWrapper {
            padding: 20px;
        }
    }
}