footer.footer {
  background: rgba(5, 14, 31, 1);
  .footerContent {
    padding: 50px 0;
    .logo_socailMedia {
      padding-right: 100px;
      .footerLogo {
        img {
          width: 75px;
          height: 75px;
        }
      }
      p {
        font-family: "Urbanist-Regular";
        font-size: 16px;
        font-weight: 500;
        line-height: 19.2px;
        text-align: left;
        color: rgba(244, 244, 244, 1);
        margin: 56px 0;
      }
      ul.socialMedia {
        list-style: none;
        padding: 0;
        display: flex;
        padding-bottom: 0;
        margin: 0;
        li {
          margin: 0 12px;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .footerLinks {
      h4 {
        font-family: "Urbanist-Bold";
        font-size: 18px;
        font-weight: 700;
        line-height: 21.6px;
        text-align: left;
        color: #fff;
        margin-bottom: 30px;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0px;
          }
          a {
            font-family: "Urbanist-Light";
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            color: #fff;
            text-decoration: none;
            &:hover {
              color: #0000ff;
            }
          }
        }
      }
    }
    .subscribeBlock {
      padding-left: 100px;
      h3 {
        font-family: "Urbanist-Bold";
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
        text-align: left;
        color: #fff;
      }
      p {
        font-family: "Urbanist-Light";
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        color: #fff;
        margin: 16px 0 32px;
      }
      form {
        position: relative;
        input.form-control {
          padding: 8px 150px 8px 24px;
          border-radius: 100px;
          height: 64px;
          font-family: "Urbanist-Regular";
          font-size: 16px;
          font-weight: 500;
          line-height: 19.2px;
          text-align: left;
          color: rgba(145, 145, 145, 1);
          border: 1px solid transparent;
          &:focus {
            box-shadow: none;
            border: 1px solid #0000ff;
          }
        }
        button.subscribeBtn.btn.btn-primary {
          background: linear-gradient(0deg, #0000ff, #0000ff),
            linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
          border-radius: 100px;
          border: 1px solid #0000ff;
          position: absolute;
          top: 8px;
          right: 8px;
          padding: 7px 16px 7px 8px;
          font-family: "Urbanist-Regular";
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;

          span {
            margin-left: 12px;
          }
        }
      }
    }
  }
  .copyrightWrap {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding: 30px 0;
    p {
      font-family: "Urbanist-Light";
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      color: #fff;
      margin-bottom: 0;
    }
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      list-style: none;
      li {
        a {
          text-decoration: none;
          color: #fff;
          font-family: "Urbanist-Light";
          font-size: 16px;
          font-weight: 400;
          line-height: 19.2px;
          text-align: left;
          margin: 0 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1399px) {
  footer.footer {
    .footerContent {
      .logo_socailMedia {
        padding-right: 50px;
      }
      .subscribeBlock {
          padding-left: 50px;
      }
    }
  }
}
@media only screen and (max-width: 1199px) {
  footer.footer {
    .footerContent {
      .logo_socailMedia {
        padding-right: 0;
      }
      .subscribeBlock {
        padding-left: 0;
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  footer.footer {
    .footerContent {
        padding: 30px 0;
        .logo_socailMedia {
            p {
                margin: 15px 0;
            }
        }
        .footerLinks {
            margin: 30px 0;
            h4 {
                margin-bottom: 10px;
            }
        }
        .subscribeBlock {
            p {
                margin: 10px 0;
            }
        }
    }
    .copyrightWrap {
        padding: 15px 0;
        p {
            font-size: 13px; 
        }
      ul {
        li {
          a {
            margin: 0 5px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  footer.footer {
    .footerContent {
      .subscribeBlock {
        form {
          input.form-control {
            padding: 8px 60px 8px 15px;
          }
          button.subscribeBtn.btn.btn-primary {
            padding: 7px;
            span {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 575px) {
    footer.footer {
        .copyrightWrap {
            p {
                text-align: center;
            }
            ul {
                justify-content: center;
            }
        }
    }
}