section.keyPage {
    padding: 220px 0 100px 0;
    background: rgb(11, 9, 28);
    .keyWrap {
        max-width: 700px;
        margin: auto;
        border: 1.3px solid rgb(0, 0, 255);
        background: #fff;
        padding: 5px;
        border-radius: 6px;
        text-align: center;
    }
}